@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Plus+Jakarta+Sans:wght@200&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100%;
}

#mf-header-top {
  width: 600px;
  margin: auto;
  position: fixed;
  top: 0;
  left: calc(50% - 300px);
  display: flex;
  align-items: center;
  height: 110px;
}

#mf-header-top ul {
  border: 2px solid #652951;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
  height: 75px;
  background-color: #924679;
  color: #fff;
}


#mf-header-top ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  /* font-family: 'Libre Bodoni', serif;
font-family: 'Plus Jakarta Sans', sans-serif; */
font-family: 'Libre Bodoni', serif;
/* font-family: 'Plus Jakarta Sans', sans-serif; */
}

#mf-header-top ul li a {
  text-decoration: none;
  color: inherit;
}
#mf-header-top ul li figure {
  width: 70px;
  height: 60px;
}
#mf-header-top ul li figure img{
  width: 100%;
  height: 100%;
}

#mf-section-header{
  padding-top: 120px;
  width: 100%;
  height: 100vh;
  background-color: #000;
}

#mf-section-header h1{
  font-size: 5em;
  text-align: center;
  color: #fff;
}

#mf-section-header figure{
  border: 1px solid #000;
  width: 520px;
  height: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mf-section-header img{
  border: 1px solid #000;
  width: 100%;
  height: 100%;
}
#mf-section-header p{
  border: 1px solid #000;
  font-size: 3em;
  text-align: center;
  margin-top: 20px;
  color: #fff;
}

/* Section S_K présentation de l'entreprise */

.S_KLe_projet_MoonLight {
  padding-top: 120px;
  width: 100%;
  height: 100vh;
}

.S_KLe_projet_MoonLight .article {
  font-family: 'Libre Bodoni', serif;
  color: #fff;
  text-align: justify;



}
